.contact{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    text-align: center;
}

.contact span{
    font-size: 27px;
}

.contact section{
    display: flex;
    flex-direction: row;
    margin-top: 25px;
}

.contact p{
    flex: 0.5;
    text-align: center;
}

.contact div{
    flex: 0.33;
    text-align: center;
}
