.navbar{
    margin-top: 12px;
}

.navbar img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  width: 250px;
}

.nested-dropdowns {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  font-size: 17px;
  margin-top: 14px;
}

.nested-dropdowns li {
  cursor: pointer;
  padding: 0.25rem;
  position: relative;
  background-color: white;
  z-index: 3;
}

.nested-dropdowns ul {
  display: none;
  left: 0;
  position: absolute;
  top: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  z-index: 3;
}


.nested-dropdowns ul ul {
  left: 100%;
  position: absolute;
  top: 0;
}

.nested-dropdowns li:hover > ul {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

.nested-dropdowns span{
  margin-left: 13px;
  margin-right: 13px;
}

.dropdowns{
  margin-left: 5px;
  margin-right: 5px;
}

.navbar__socials{
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 2px;
  margin-right: 2px;
}
