.talentGrid{
    width: 100%;
}

.talentGrid div{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.talentGrid article{
    width: 297px;
    height: 397px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 40px;
    margin-top: 15px;
}

.talentGrid img{
    width: 100%;
    height: 100%;
}

.talentGrid span{
    position: relative;
    left: 41%;
    color: rgb(100, 102, 107);
    font-size: 15px;
    letter-spacing: 0em;
}